

.mdc-data-table__cell{
    
    color:  rgb(25, 102, 165);
    border-color: rgb(25, 102, 165);
    font-size: 25px;
    height: 100px;
    
}
.mdc-data-table__header-cell{
    background: rgb(12, 202, 193);
    color: rgb(25, 102, 165);
    font-size: 40px;
    
}