:host{

.div{
   
    margin: 25px;
    border: solid rgb(25, 102, 165) 6px;
    border-radius: 12px;
    width: 20vw;
    height: 20vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vh;
    background-color: rgb(12, 202, 193);
    text-align: center;
    color:rgb(252, 254, 255);
}

}